
section {
  direction: RTL;
}

.box{
  padding: 2rem 0;
}

mat-label{
  float: right;
  padding-bottom: 1rem;
  margin-bottom: 1rem;

}


mat-form-field{
  text-align: right;
  font-size: 1.4rem;
}

form button{
  width: 100%;
  margin: 1rem 0;
  font-size: 1.4rem;
  font-weight: bold;
  padding: .5rem;
}

.container {
  width: 80%;
  margin: auto;
}


.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}





form{
  display: flex;
  flex-direction: column;
  width: 70%;
}



mat-card-title{
  color:green;
  text-align: right;
  margin-bottom: 3rem;
}


@media(max-width:768px){
  .container{
    width: 90%;
  }
  form{
    width:100%
  }
}
