<div class="main-container">



  <header class="dash-board-header">
    <h1>الرئيسة</h1>
  </header>

  <div class="cards-container">



    <div class="dashboard-card">
      <div class="card-header">
        <h3>طلباتي</h3>
      </div>

      <form [formGroup]="form" (submit)="onSearch()">

        <mat-form-field appearance="fill" [hideRequiredMarker]="false" [floatLabel]="true">
          <mat-label>خيارات</mat-label>

          <mat-select formControlName="filter" value="all" (selectionChange)="onChangeFilter($event)">
            <mat-option value="all">جميع الطلبات</mat-option>
            <mat-option value="IN-PROGRESS">قيد التنفيذ</mat-option>
            <mat-option value="DONE">تم</mat-option>
            <mat-option value="CANCEL">الغي</mat-option>
          </mat-select>

        </mat-form-field>



        <div class="search-box">
          <mat-form-field appearance="fill">
            <mat-label>الاسم \ رقم الهاتف</mat-label>
            <input formControlName="search" matInput>
          </mat-form-field>

          <button class="btn btn-success">بحث</button>
        </div>
      </form>

      <div *ngIf="requests && requests.length==0" class="center-container">
        <p>لا يوجد طلبات </p>
      </div>

      <div *ngIf="isLoading" class="center-container">
        <mat-spinner></mat-spinner>
      </div>

      <div *ngIf="!isLoading">



        <mat-accordion>
          <mat-expansion-panel *ngFor="let request of requests">

            <mat-expansion-panel-header>

              <div class="expansion-header">

                <div class="header">
                  <p>عنوان الطلب :</p>
                  <p>{{request.title}}</p>
                </div>

                <div class="spacer"></div>

                <div class="status-box">
                  <div class="status" [ngStyle]="statusHandler(request.status)">
                  </div>
                  <div>
                    <span *ngIf="request.status=='DONE'">تم</span>
                    <span *ngIf="request.status=='IN-PROGRESS'">قيد التنفيذ</span>
                    <span *ngIf="request.status=='CANCEL'">تم الالغاء</span>
                  </div>
                </div>
              </div>

            </mat-expansion-panel-header>



            <div class="panel-data">

              <div class="panel-info">
                <p>البلدة</p>
                <p>{{request.city.name}}</p>
              </div>

              <div *ngIf="request.issue" class="panel-info">
                <p>المشكلة</p>
                <p>{{request.issue?.name}}</p>
              </div>

              <div *ngIf="request.otherIssue" class="panel-info">
                <p>مشكلة اخرى</p>
                <p>{{request.otherIssue}}</p>
              </div>

              <div class="panel-info">
                <p>نوع الجهاز</p>
                <p>{{request.device.model}}</p>
              </div>

              <div class="panel-info">
                <p>الشركة</p>
                <p>{{request.company.name}}</p>

              </div>
              <div class="panel-info">
                <p>مكان التواجد</p>
                <p>{{request.whereAbout}}</p>
              </div>



              <div class="panel-info">
                <p>الاسم</p>
                <p>{{request.customer.firstName}} {{request.customer.lastName}}</p>
              </div>
              <div class="panel-info">
                <p>رقم الهاتف</p>
                <p>{{request.customer.phone}}</p>
              </div>
            </div>

            <div class="panel-date">
              <p>{{dateFormat(request.createdAt)}}</p>
              <p>{{fullDateFormat(request.createdAt)}}</p>
            </div>



            <mat-action-row>
              <a mat-raised-button color="primary" (click)="onUpdatingStatus(request)">تم</a>
              <button mat-raised-button color="warn" (click)="onDeletingRequest(request)">حذف</button>

            </mat-action-row>





          </mat-expansion-panel>
        </mat-accordion>


      </div>

      <div class="spacer"></div>

      <mat-paginator [length]="totalRequests" [pageSize]="pageSize" (page)="onPageChange($event)">
      </mat-paginator>
    </div>



  </div>
</div>
