

ngx-charts-number-card{
  max-height: 20vh;
}

ngx-charts-pie-grid {
  height: 30vh;
}
ngx-charts-line-chart{
  min-height: 50vh;
}

.main-container .dashboard-card .chart {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


.card-content{
  padding: 3rem 0;
}

