<div class="box align">

  <div class="login-container" *ngIf="step==1">
    <header>
      <h1>نسيت كلمة المرور</h1>
    </header>
    <div class="form-containe">
      <form #form="ngForm" (submit)="sendForgotPasswordRequest(form)">
        <div class="align-inputs">
          <div class="input-container">
            <p>رقم الهاتف</p>
            <input ngModel #phone="ngModel" name="phone" required placeholder="000-0000000" type="tel">
            <app-normal-input-error name="phone number" *ngIf="phone.touched" [errors]="phone.errors">
            </app-normal-input-error>
          </div>
        </div>
        <button *ngIf="!isLoading"  class="green-button">ارسل</button>
      </form>
      <div class="spinner-border text-success" *ngIf="isLoading" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>



  <div class="login-container" *ngIf="step==2">
    <header>
      <h1>نسيت كلمة المرور</h1>
    </header>


    <div class="form-containe" (submit)="onVerify(form)">
      <p>سيتم ارسال رسالة الي الرقم الذي ادخلتة</p>
      <p class="link" (click)="sendCodeAgain()">ارسل مرة اخرى</p>

      <form #form="ngForm">
        <div class="align-inputs">
          <div class="input-container">
            <p>الرقم السري</p>
            <input #code="ngModel" required ngModel name="code" placeholder="" type="tel">
            <app-normal-input-error name="code" *ngIf="code.touched" [errors]="code.errors">
            </app-normal-input-error>
          </div>
        </div>
        <button *ngIf="!isLoading"  class="green-button">تأكيد</button>
      </form>
      <div class="spinner-border text-success" *ngIf="isLoading" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>





  <div class="login-container" *ngIf="step==3">
    <header>
      <h1>نسيت كلمة المرور</h1>
    </header>


    <div class="form-containe">

      <form #form="ngForm" (submit)="onChangePassword(form)">
        <div class="align-inputs">
          <div class="input-container">
            <p>كلمة السر</p>
            <input ngModel name="password" required #password="ngModel" placeholder="" type="password">
            <app-normal-input-error name="password" *ngIf="password.touched" [errors]="password.errors">
            </app-normal-input-error>
          </div>

          <div class="input-container">
            <p>تأكيد كلمة السر</p>
            <input ngModel name="confirmPassword" required #confirmPassword="ngModel" NgModel placeholder="" type="password">
            <app-normal-input-error name="confirm-password" *ngIf="confirmPassword.touched" [errors]="confirmPassword.errors">
            </app-normal-input-error>
          </div>
        </div>
        <button *ngIf="!isLoading" class="green-button">تعديل</button>
      </form>
      <div class="spinner-border text-success" *ngIf="isLoading" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>



</div>
