<div class="main-page-container">
  <section  class="header fadeIn" #header id="header"  >



    <div class="main-box fadeOut">
      <div class="brand-logo"></div>

      <div class="main-body">
        <h1>שלום לך , בסמארטפון באקה אלגרבייה</h1>


        <h3>לכניסה למערכת</h3>
        <a mat-raised-button routerLink="client" color="accent">לחץ כאן</a>
      </div>

    </div>



    <div class="dash-container">
      <div class="dash"></div>
    </div>


    <div class="scroll-btn" (click)="smoothScrolling(aboutUs)">
      <div class="scroll-bar">
        <a><span></span></a>
      </div>
    </div>

  </section>

  <section class="section-2" id="about-us" #aboutUs>
    <div class="social-icons">
      <ul>
        <a href="https://www.facebook.com/smart.phone.baqa.new/?eid=ARDr6ApK4jSINdF5A09_JJyRLjMOuJ5tNm0LBH1xtvoiP005R5IcyVBkOg_LcYLivB62G_gx9q79kWqM"
          target="blanck">
          <li><img src="/assets/img/facebook-2.png" alt=""></li>
        </a>
        <a href="https://www.instagram.com/smart_phonebaqa/" target="blanck">
          <li><img src="/assets/img/instagram-2.png" alt=""></li>
        </a>
        <a (click)="showContactInfo()">
          <li><img src="/assets/img/whatsapp.png" alt=""></li>
        </a>
      </ul>
    </div>
    <div class="group">


      <div class="main">


        <div class="title">
          <div class="logo"></div>
          <h1>ברוכים הבאים לחנות הסלולר הכי מתקדם באיזור</h1>
        </div>

        <h2>פה לא חושבים פעמיים</h2>
        <h1>השירות שלנו</h1>
      </div>



      <div class="container">
        <div class="card-showcase">
          <div class="face face1">
            <div class="content">
              <img src="assets/img/online-support.png" alt="">
              <h3>שירות עזרה טלפונית</h3>
            </div>
          </div>

          <div class="face face2">
            <div class="content">
              <p>יש לך בעיה ? לא נורא תתקשר לצות התמיכה טכנית שלנו ויעזרו לך בשניות</p>
              <a href="#"></a>
            </div>
          </div>
        </div>




        <div class="card-showcase move-up">
          <div class="face face1">
            <div class="content">
              <img src="assets/img/repair.png" alt="">
              <h3>תיקון מהיר מקצועי ומידיי</h3>
            </div>
          </div>

          <div class="face face2">
            <div class="content">
              <p>תיקון כל סוגי הסלולר על ידי הטכנאי עומר חוסין בעל נסיון של 10 שנים בתחום</p>
              <a href="#"></a>
            </div>
          </div>
        </div>




        <div class="card-showcase">
          <div class="face face1">
            <div class="content">
              <img src="assets/img/delivery-truck.png" alt="">
              <h3>סמרטפון לידך</h3>
            </div>
          </div>

          <div class="face face2">
            <div class="content">
              <p>שירות סמארטפון לידך נותן ללקוחות גישה קלה בלי צורך להגיע לחנות אלא שעושים בקשה דרך האתר החנות מגיע עד הבית</p>
              <a href="#"></a>
            </div>
          </div>
        </div>
      </div>
    </div>





    <div class="video-container">
      <video id="video"  muted={{true}} autoplay loop>
        <source [src]="url+'smart-phone.mp4'" type="video/mp4">
      </video>
    </div>

    <div class="navigate-back" (click)="smoothScrolling(header)">
    </div>

  </section>



  <footer>
    <div class="footer-container">

      <div class="box">
        <img src="./assets/img/location.png" alt="">
        <p>באקה אלגרהייה כביש ראשי</p>
      </div>

      <div class="box">
        <img src="./assets/img/email.png" alt="">
        <p>smart-phone-baqa@hotmail.com</p>
      </div>

      <div class="box">
        <img src="./assets/img/phone.png" alt="">
        <p>052-2784070</p>
      </div>

    </div>

    <div class="footer-social">
      <div class="box-social">
        <img src="./assets/img/facebook.png" alt="">
        <p> סמארטפון באקה -سمارت فون باقة</p>
      </div>

      <div class="box-social">
        <img src="./assets/img/instagram.png" alt="">
        <p>smart-phone</p>
      </div>

    </div>
  </footer>
</div>
