<form #addCustomerForm="ngForm" (submit)="addCustomer(addCustomerForm)">

  <mat-card>

    <mat-card-title>
      <h1>Customer info</h1>
    </mat-card-title>



    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="my name" type="text" name="firstName" ngModel minlength="2" maxlength="24" required
        #firstNameInput="ngModel">

      <mat-error>
        <app-input-error [controller]="firstNameInput" [errors]="firstNameInput.errors"></app-input-error>
      </mat-error>

    </mat-form-field>



    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="my name" type="text" name="lastName" ngModel minlength="2" maxlength="24" required
        #lastNameInput="ngModel">

      <mat-error>
        <app-input-error [controller]="lastNameInput" [errors]="lastNameInput.errors"></app-input-error>
      </mat-error>

    </mat-form-field>




    <mat-form-field appearance="fill">
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="example@gmail.com" type="email" name="email" ngModel required email
        #emailInput="ngModel">
      <mat-error>
        <app-input-error [controller]="emailInput" [errors]="emailInput.errors"></app-input-error>
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Phone Number 1</mat-label>
      <input matInput placeholder="052-0000000" type="text" name="phone1" maxlength="24" ngModel required
        #phone1Input="ngModel" (input)="checkPhoneNumber(addCustomerForm,$event)">
      <mat-error>
        <app-input-error [controller]="phone1Input" [errors]="phone1Input.errors"></app-input-error>
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Phone Number 2</mat-label>
      <input matInput placeholder="052-0000000" type="text" name="phone2" maxlength="24" ngModel
        #phone2Input="ngModel" (input)="checkPhoneNumber(addCustomerForm,$event)">
      <mat-error>
        <app-input-error [controller]="phone2Input" [errors]="phone2Input.errors"></app-input-error>
      </mat-error>
    </mat-form-field>


    <mat-card-actions>
      <button mat-raised-button color="accent">Add Customer</button>

    </mat-card-actions>


    <mat-card-footer color="red" class="mat-body-2" *ngIf="isFormInvalid">
      * Fullfill the required requests
    </mat-card-footer>

  </mat-card>




</form>
