<div class="main-container">



  <header class="dash-board-header">
    <h1>עריכת נתונים</h1>
  </header>



  <div class="cards-container">


    <div class="dashboard-card">
      <div class="card-header">
        <h3>עריכת ערים</h3>
      </div>

      <div class="card-content">



        <div *ngIf="isLoading" class="center-container">
          <div class="spinner-border text-success" role="status">
            <span class="sr-only">טוען...</span>
          </div>
        </div>




        <form #cityForm="ngForm">
          <mat-form-field appearance="fill">
            <mat-label>שם עיר</mat-label>
            <input name="city" ngModel matInput>
          </mat-form-field>







          <mat-form-field appearance="fill">
            <mat-label>בחר</mat-label>
            <mat-select name="pickCity" ngModel>
              <mat-option *ngFor="let city of cities" [value]="city._id">{{city.name}}</mat-option>
            </mat-select>
          </mat-form-field>



          <div class="action-buttons">
            <button class="btn btn-success" (submit)="onAddingCity(cityForm)">הוסף</button>
            <button class="btn btn-danger" (click)="onDeletingCity(cityForm)">מחק</button>
          </div>

        </form>


      </div>




    </div>








    <div class="dashboard-card">
      <div class="card-header">
        <h3>עריכת בעיות</h3>
      </div>

      <div class="card-content">



        <div *ngIf="isLoading" class="center-container">
          <div class="spinner-border text-success" role="status">
            <span class="sr-only">טוען...</span>
          </div>
        </div>

        <form #issueForm="ngForm">
          <mat-form-field appearance="fill">
            <mat-label>כותרת הבעיה</mat-label>
            <input name="issue" ngModel matInput>
          </mat-form-field>









          <mat-form-field appearance="fill">
            <mat-label>בחר</mat-label>
            <mat-select name="pickedIssue" ngModel>
              <mat-option *ngFor="let issue of issues" [value]="issue._id">{{issue.name}}</mat-option>
            </mat-select>
          </mat-form-field>


          <div class="action-buttons">
            <button class="btn btn-success" (click)="onAddingIssue(issueForm)">הוסף</button>
            <button class="btn btn-danger" (click)="onDeletingIssue(issueForm)">מחק</button>
          </div>


        </form>
      </div>
    </div>









    <div class="dashboard-card">
      <div class="card-header">
        <h3>עריכת חברות</h3>
      </div>


      <div class="card-content">


        <div *ngIf="isLoading" class="center-container">
          <div class="spinner-border text-success" role="status">
            <span class="sr-only">טוען...</span>
          </div>
        </div>

        <form #companyForm="ngForm">
          <mat-form-field appearance="fill">
            <mat-label>שם חברה</mat-label>
            <input name="company" ngModel matInput>
          </mat-form-field>




          <mat-form-field appearance="fill">
            <mat-label>בחר</mat-label>
            <mat-select>
              <mat-option *ngFor="let company of companies" [value]="company._id">{{company.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <div class="action-buttons">
            <button class="btn btn-success" (click)="onAddingCompany(companyForm)">הוסף</button>
            <button class="btn btn-danger">מחק</button>
          </div>

        </form>
      </div>
    </div>


    <div class="dashboard-card">
      <div class="card-header">
        <h3>עריכת מכשרים</h3>
      </div>

      <div class="card-content">

        <app-devices-manage [companies]="companies"></app-devices-manage>
      </div>

    </div>


  </div>





</div>
