<p *ngIf="errors && errors['required']"> {{name}} הינו שדה חובה </p>

<p *ngIf="errors &&errors['email'] ">מייל לא תקין</p>

<p *ngIf="errors &&errors['minlength']">צריך להיות לפחות {{name}}
  {{errors.minlength.requiredLength}} תווים </p>

<p *ngIf="errors &&errors['maxlength']">תווים {{errors.maxlength.requiredLength}} אסור להיות ארוך מ {{name}}
   </p>

<p *ngIf="errors &&errors['phoneNumber']">מספר טלפון לא תקין</p>

<p *ngIf="errors &&errors['name']">השם חייב להכיל אותיות בלבד</p>

<p *ngIf="errors &&errors['passwordNotMatch']">סיסמה לא מתאימה</p>

<p *ngIf="errors &&errors['text']">יכול להכיל אותיות ורבחים בלבד {{name}}</p>
