<div class="main-container" @fade>



  <header class="dash-board-header">
    <h1>ראשי</h1>
  </header>

  <div class="cards-container">

    <div class="dashboard-card">
      <div class="card-header">
        <h3>מידע כללי</h3>
      </div>

      <div class="chart">
        <ngx-charts-number-card [scheme]="colorScheme" [results]="staticInfo" [cardColor]="cardColor">
        </ngx-charts-number-card>
      </div>

    </div>


    <div class="dashboard-card">
      <div class="card-header">
        <h3>הבקשות שלי</h3>
      </div>


      <div *ngIf="requests && requests.length==0" class="center-container">
        <p>אין לך בקשות</p>
      </div>

      <div *ngIf="isLoading['requests']" class="center-container">
        <mat-spinner></mat-spinner>
      </div>

      <div *ngIf="!isLoading['requests']">

        <mat-accordion multi="true">

          <mat-expansion-panel *ngFor="let request of requests">
            <mat-expansion-panel-header>

              <div class="expansion-header">

                <div class="header">
                  <p>כותרת הבקשה : </p>
                  <p>{{request.title}}</p>
                </div>

                <div class="spacer"></div>

                <div class="status-box">
                  <div class="status" [ngStyle]="statusHandler(request.status)">
                  </div>
                  <div>
                    <span *ngIf="request.status=='DONE'">מוכן</span>
                    <span *ngIf="request.status=='IN-PROGRESS'">בטיפול</span>
                    <span *ngIf="request.status=='CANCEL'">בוטל</span>
                  </div>
                </div>
              </div>



            </mat-expansion-panel-header>

            <div class="panel-data">

              <div class="panel-info">
                <p>עיר</p>
                <p>{{request.city.name}}</p>
              </div>

              <div *ngIf="request.issue" class="panel-info">
                <p>בעיה</p>
                <p>{{request.issue?.name}}</p>
              </div>

              <div *ngIf="request.otherIssue" class="panel-info">
                <p>בעיה אחרת</p>
                <p>{{request.otherIssue}}</p>
              </div>

              <div class="panel-info">
                <p>סוג המכשיר</p>
                <p>{{request.device.model}}</p>
              </div>

              <div class="panel-info">
                <p>חברה</p>
                <p>{{request.company.name}}</p>

              </div>
              <div class="panel-info">
                <p>איפה נמצא</p>
                <p>{{request.whereAbout}}</p>
              </div>
            </div>

            <div class="panel-date">
              <p>{{dateFormat(request.createdAt)}}</p>
              <p>{{fullDateFormat(request.createdAt)}}</p>
            </div>
            <mat-action-row *ngIf="request.status!=='DONE'">
              <a mat-raised-button color="primary"  *ngIf="request.status!=='CANCEL'" [routerLink]="['/client/editRequest',request._id]">עריכה</a>
              <button mat-raised-button color="warn" (click)="onCancelRequest(request)">בטל</button>

            </mat-action-row>


          </mat-expansion-panel>
        </mat-accordion>



      </div>

      <div class="spacer"></div>

      <mat-paginator *ngIf="requests && requests.length>0" [length]="numOfRequests" [pageSize]="requestsPerPage"
        (page)="onChangedPage($event)">
      </mat-paginator>
    </div>



  </div>
</div>
