nav{
  min-height: 10vh;
  background:#2B353E ;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}



nav h1{
  color: #fff;
  font-weight: 600;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

nav img{
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  cursor: pointer;
}

.content{
  min-height: 90vh;
  width: 100%;
  background: #F2F2F2;
  overflow: hidden;
}


